---
import { getCollection } from 'astro:content'
import Layout from '@/layouts/Layout.astro'
import BlogPostList from '@/components/BlogPostList.tsx'

const posts = (await getCollection('blog')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())

const categories = Array.from(new Set(posts.map((post) => post.data.category)))
---

<Layout>
  <main>
    <section class="w-auto mx-4 xl:w-[1024px] xl:mx-auto">
      <h1 class="text-4xl my-10 font-bold">Blogs</h1>
      <BlogPostList client:load posts={posts} categories={categories} />
    </section>
  </main>
</Layout>
